@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Montserrat", sans-serif;   
}

.link{
    color: #5d5d5d !important;
    text-decoration: none;
}

.d-none{
    display: none !important;
}

.d-inline{
    display: inline;
}

.shadow-sm{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.menu{
    /* padding: 10px !important; */
}

.menu__menu-mobile{
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
}

.menu__menu-mobile__icon-menu button{
    border: 0 !important;
    background-color: transparent;
    color: #4b4b4b;
}

.menu__menu-mobile__{
    width: 100%;
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #fff;
    height: calc(100vh - 46px);
    transition: all 0.4s ease-out;
}

.menu__menu-mobile__close{
    left: -650px;
}

.menu__menu-mobile__list{
    padding: 20px 10px !important;
}

.menu__menu-mobile__item{
    list-style: none;
    line-height: 32px;
}

.search{
    margin-top: 15px !important;
}